header {
	text-align: center;
	padding-top: 18px;
	margin: 60px auto;
	font-weight: 400;
	font-size: 40px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}
.card {
	margin: 0 0 0px 0;
	padding: 12px;
	background: #1e1e1e;
	transition: all 200ms;
	text-align: center;
	width: 30%;
}

.card > img {
	width: 50%;
	margin: 0 0 0px 0;
}

.card h3 {
	text-align: center;
	color: white;
	font-size: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.card a {
	color: white;
	font-size: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.card-column {
	position: relative;
	width: 33.3333%;
	float: left;
	padding: 0 12px;
	box-sizing: border-box;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
	font-weight: 300;
	margin-top: 10px;
	color: white;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
.social-footer {
	float: auto;
	font-size: 20px;
	padding: 40;
	margin-right: 30;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55acee;
	color: white;
}
figcaption {
	margin-top: 0;
	color: gray;
}

.social-link {
	padding: 20px;
}
@media (max-width: 640px) {
	.card-column {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.card-column {
		width: auto;
		float: none;
	}
}
