.topnav {
	background-color: black;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	margin-left: 0px;
	padding-left: 0;
}
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 16px;
	font-size: 18px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}
