@import url('blogposts.css');
@import url('socialmediabuttons.css');
@import url('nav.css');

body {
	background-color: lightgray;
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans JP';
}

header {
	text-align: center;
	padding-top: 18px;
	margin: 60px auto;
	font-weight: 400;
	font-size: 40px;
}

h3 {
	text-align: center;
	padding: 20px;
}

h4 {
	padding: 10px;
	color: white;
}
#about {
	text-align: center;
	font-size: 20px;
}

.about {
	color: white;
}
p {
	text-align: center;
	font-weight: 300;
	margin-top: 10px;
	color: white;
}

article {
	color: white;
}

.grid-container {
	display: grid;
}

.hidden {
	display: none;
	visibility: hidden;
}
.card {
	display: block;
	padding: 30px;
	background: #1e1e1e;
	transition: all 200ms;
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.card > img {
	display: inline-block;
	width: 50%;
	margin: 0 0 0px 0;
}

.card h3 {
	text-align: center;
	color: white;
	font-size: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.card a {
	color: white;
	font-size: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.card-column {
	display: grid;
	position: relative;
	width: 33.3333%;
	float: left;
	padding: 0 12px;
	box-sizing: border-box;
}

.card {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h3 {
	text-align: center;
}

h2 {
	font-weight: bold;
	text-align: center;
	color: black;
}

p {
	text-align: center;
	font-weight: 300;
	margin-top: 10px;
	color: white;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

figcaption {
	margin-top: 0;
	color: gray;
}

.social-link {
	padding: 20px;
}
@media (max-width: 640px) {
	.card-column {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.card-column {
		width: auto;
		float: none;
	}
}
